@charset "UTF-8";

/*CONFIGURAÇÃO GERAL*/
body{
	    font-family: "Candara", sans-serif;
      background-image: url("https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUJzUpBsStszSzX0DGFLl3NrldXfWKh1ZMOjOLfWI0f%2Bm3IKXm33NVox77FScMacoVGEZ4R4jbTdLSHgyY3nRBzbQzyyLxnH9oEAtIQq18oRA0lZhztbB%2FhsyEEv8E9cAAHJpt%2BdbgTk%2FIJQmfFnZYwWflxkD0uwGbPg%2FggJVFFHY0E2fKmeOXp618rxMPUM0ih67NgHzZ1dtwthCF2weXBUX73KsiY7voYLqF5EFTSofvvxtRWathmt6U0VrKW6UOv0Xug%2FOHF1Se4xZKFzBpBDr52jRko18lKQeImHktPF098WX%2F%2FJHOz%2BENE0zLs2qrUtrNlgzI67mG0BjEjhBCLtbToISz9xJ6dibxd%2Fa8sKtUH7DZOg5avk9q7zMIyGjMTOLD3r92G3LtiJFkAKGCC%2F2OLY9f%2FfLoARle1SJrNeOAt6S4rN7dNykDFN2VLjlxhNNhlTnuOkY2mR%2BbavBv5eAOXC8k9BLngDD5AlgtqXkGgJjJ7gj0%2FbOeOi4GWmJ6GERxfkN5%2B72X87MSjqKf4bGh34PMcYJ%2BvkOSuNuow309YMk5HPoVHJWnqZwQt47HNc6A0yg%3D%3D&allow_caching=true&sz=w1366-h633");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      margin: 0;
      padding:0;
      display: flex;
      flex-direction: column;
    }


/*CABEÇALHO*/
header{
        height: 150px;
        width: 1000px;
        border-radius: 50px;
        background-color: #85ccea;
        margin: 30px auto;
      }

header h1{
           color: #4a3092; 
           text-align: center;
           font-size: 50px;
           float: center;
           margin: 36px 225px 30px;
         }


.logout-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px 25px;
    background-color: #9960c7;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.logout-btn:hover {
    background-color: #69408b;
}

/* BOTÕES */
nav{
    clear: both;
    display: flex;
    justify-content: center;
    gap: 0px;
    margin: 5px 0;
    flex-wrap: wrap;
   }

nav a{
       color:black;
       text-decoration: none;
       text-align: center;
       float:left;
       font-size: 25px;
       height: 110px;
       width: 360px;
       border-radius: 50px;
       background-color: #85ccea;
       margin: 50px;
       display: flex;
       align-items: center;
       justify-content: center;
     }

nav a:hover{
             background-color: #72b0cf;
           }

.logo{
      float:right;
      height:130px;
      width:130px;
      position: absolute; /* Faz a imagem ficar posicionada de maneira absoluta */
      bottom: 1px; /* Distância do fundo da página */
      right: 20px; /* Distância da borda direita */
      flex-wrap: wrap; /* <-- ESSENCIAL PARA CELULAR */
      }
