@charset "UTF-8";

/*CONFIGURAÇÃO GERAL*/
body{
	    font-family: "Candara", sans-serif;
      background-image: url("https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUXd9%2Fdzlbvtg3cdBJO6FlK5r2kKeYAUrAq1xvE2Lg8QTwTV3OgOEsgZYamZ8pg2rZwnIBDGhlrr9MUsyl8u1Fru6Zz1yt6oQrs1hrB5EsooG7FPer0im%2FakawRk11P4DGu2PMgOtah%2FMA0ejx%2FN%2FA2t0ylRmPuu%2F7rDGhsqCyCTGT8tahHcjoEO0%2BEfKlnOY9P%2F0D9%2FKnqARfoDe6ZzIgj06Tab%2B2CO1i7iv1dXIG6g0ReY1ieg086McqE8XDgcH5HdPM2Cy2wpaVnBvasQHBn0bBLK0C5kJCzouMO8%2FtZeuzhHuBj6xhcyILEDmM3mxBURIzWXoySUwP9Iz7mghLQByUmr6p97Cg3mV5crYAG%2B0I4hG4Y%2FZSgSMh%2BFrV6h5OF788jKTkuNKftHvlgvLjnATbnTmrCkMCiCvHtv5NkwyCEzJpppGZn%2BiD1aNcMwmcDBrQqKcqFIoTRPmwyTbynNOiahPhapKYUkEzMp5oCLxCZt8loT6jO%2FJX%2FOd1p0RYZudRTbqWkR2WaM%2BNz8QAAkk6iJjXu%2Bd%2FoU0VC0ZwlUG6HjwvPYw%2F3YV7Df%2FErepzaIAu5A8MHCH3r1ZE%3D&allow_caching=true&sz=w1366-h633");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      position: relative;
      flex-wrap: wrap; /* <-- ESSENCIAL PARA CELULAR */
    }


/*CABEÇALHO*/
header{
        height: 150px;
        width: 1000px;
        border-radius: 50px;
        background-color: #85ccea;
        margin: 30px auto;
        flex-wrap: wrap; /* <-- ESSENCIAL PARA CELULAR */
      }

header h1{
           color: #4a3092; 
           text-align: center;
           font-size: 50px;
           float: left;
           margin: 36px 225px 30px;
         }


/* BOTÕES */
nav{
    clear: both;
    display: flex;
    justify-content: center;
    gap: 1px 1px;
    margin: 20px;
    flex-wrap: wrap;
   }

nav a{
       color:black;
       text-decoration: none;
       text-align: center;
       float:left;
       font-size: 25px;
       height: 110px;
       width: 330px;
       border-radius: 50px;
       background-color: #85ccea;
       margin: 60px;
       display: flex;
       align-items: center;
       justify-content: center;
     }

nav a:hover{
             background-color: #72b0cf;
           }

.logo{
      height:130px;
      width:130px;
      position: absolute; /* Faz a imagem ficar posicionada de maneira absoluta */
      right: 20px; /* Distância da borda direita */
      flex-wrap: wrap; /* <-- ESSENCIAL PARA CELULAR */
     }

