@charset "UTF-8";

body {
  margin: 0 auto;
  font-family: "Candara", sans-serif;
  background-color: #fbf0ff;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header {
  height: 150px;
  background-color: #85ccea;
  border-radius: 50px;
  width: 90%;
  max-width: 1090px;
  text-align: center;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 50px;
  color: #4a3092;
  margin: 0;
}

h2 {
  text-align: left;
  font-size: 28px;
  color: #000000;
  margin-left: 170px;
}

.formulario {
  background: #fefaff;
  padding: 20px;
  border-radius: 35px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  margin-top: 5px;
  margin-left: 150px;
}

.input-group {
  position: relative;
  margin-bottom: 20px; /* Aumentado o espaço entre os campos */
}

.input-group input {
  width: 100%;
  max-width: 400px;
  padding: 15px 55px;
  border: none;
  border-radius: 25px;
  background: #cef1ff;
  color: rgb(0, 0, 0);
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #85ccea;
}

.input-group input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1;
}

.input-group .icon {
  position: absolute;
  left: 16px;
  top: 71%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.botao-arquivo {
  padding: 10px 20px;
  background-color: #85ccea;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto;
}

.botao-arquivo:hover {
  background-color: #45a049;
}

.botao-enviar {
  padding: 12px 30px;
  background-color: #85ccea;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.botao-enviar:hover {
  background-color: #387bc4;
}

.arquivo-box {
  margin-top: 15px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.arquivo-box p {
  margin: 0;
  padding: 5px 0;
}

#lista-arquivos {
  list-style-type: none;
  padding-left: 0;
}

#lista-arquivos li {
  padding: 5px;
  background-color: #f1f1f1;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 14px;
}

#arquivo-box p {
  font-size: 14px;
  color: #333;
}
